.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ak2.picdn.net/shutterstock/videos/15127672/thumb/1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #f2f3f4;
}

.navbar {
    overflow: hidden;
    background-color: #333;
   }
    .navbar button {
        border:none;
    float: left;
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar button:hover {
    background-color: #ddd;
    color: black;}

  .title{
    
    color: #5dc9c1;
  }
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .main {   
    flex: 60%;
    background-color: white;
    padding: 20px;
  }
  
    /*class for columns*/
.columns {column-count: 2;
  padding-left: 50px;
  padding-right: 50px;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .titlestudy {
    color: grey;
    font-size: 18px;
  }
  
  .btn {
    border: none;
    color: white;
    padding: 8px;
    font-size: 18px;
    width: 100%;
    height:50px;
    cursor: pointer;
    background-color:#86b1da;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
  
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0 8px;
    
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  
  }